h1, h2, h3 {
    text-align: center;
    font-family: Optima, sans-serif;
}
  
h1 {
    font-size: 48px;
    font-weight: 600;
}
  
h2 {
    font-size: 36px;
    font-weight: 500;
}

header h1 {
    margin: 0;
    font-size: 48px;
}
  
header p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    position: static;
    width: 100%;
    top: 0;
    
	height: auto;
	background: transparent url('img/carte_background.jpg') no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 3px solid #093772; 
    margin: 0;
}

section {
    border: 3px solid #148d3d;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
}

p {
    text-align: left;
    font-family: Optima, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


body {
    
    top: 0;
    background-color: #ffffff;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
}

.box {
    display : flex;
    flex-direction: row;
}

.container {
    position: relative;
  }
  .button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #093772;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .button span {
    position: relative;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #64abd8;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  img {
    height: 150px;
    width: auto;
  }

/* Les descendants de rang impair sont stylés avec une couleur     */
tbody:nth-child(odd)  { background-color : #CED4E5; }
/* Les descendants de rang pair sont stylés avec une autre couleur */
tbody:nth-child(even) { background-color : #E8EBF5; }
th { background-color : #557CBA; padding:0.7em; }
td { padding:0.5em; }
table {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
.ok {
    color:green;
}

.ongoing{
    color: orangered;
}